<mat-spinner *ngIf="loading"></mat-spinner>
<form [formGroup]="commentForm" *ngIf="!loading">
    <mat-card class="commentEdit_card">
        <!------------------------- Description ------------------------->
        <mat-card-content>
            <mat-form-field appearance="outline" class="commentEdit_card_form">
                <mat-label>Description</mat-label>
                <input type="text" matInput class="form_control" formControlName="comment" id="comment"
                    placeholder="Descrivez votre commentaire..." />
            </mat-form-field>
        </mat-card-content>
        <!------------------------- Button confirmation------------------------->
        <mat-card-actions>
            <button class="form_btnSubmit" mat-dialog-close mat-raised-button color="primary"
                [disabled]="commentForm.invalid" (click)="onSumitForm(comment.id)">
                ENVOYEZ
            </button>
            <!------------------------- Message d'erreur ------------------------->
            <div class="invalid" *ngIf="msgErr">
                <p>{{msgErr}}</p>
            </div>
        </mat-card-actions>
    </mat-card>
</form>