<mat-spinner *ngIf="loading"></mat-spinner>
<p *ngIf="!loading && users.length <= 0">
  Aucun utilisateur inscrit
</p>
<section class="userList" *ngIf="!loading && users.length > 0">
  <h2 class="userList_title">Liste des membres de Groupomania</h2>
  <mat-card class="userList_card" *ngFor="let user of users">
    <mat-card-header class="userList_card_container">
      <div mat-card-avatar class="userList_card_container_img" style="background-image: url({{user.image}});"></div>
      <mat-card-title class="userList_card_container_title">{{user.lastname}} {{user.firstname}} </mat-card-title>
      <mat-card-subtitle><a class="userList_card_container_link" href="mailto:{{user.email}}">{{user.email}}</a>
      </mat-card-subtitle>
    </mat-card-header>
    <div>
      <button class="userList_card_btn" mat-icon-button [matMenuTriggerFor]="menu" aria-label="icon a menu"
        *ngIf="admin === 1">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu" xPosition="before">
        <button mat-menu-item (click)="deleteUserFocus(user.id)"> Supprimer l'utilisateur </button>
      </mat-menu>
    </div>
  </mat-card>
</section>