.userList {
  &_title {
    margin-top: 10px;
    text-align: center;
    line-height: 1.2em;
  }
  &_card {
    margin: 40px auto;
    min-width: 150px;
    max-width: 500px;
    background-color: rgba(204, 204, 204, 0.041);
    box-shadow: 1px 8px 10px 7px rgba(88, 88, 88, 0.438);
    border-radius: 20px;
    &_container {
      &_title {
        font-size: 1.2em;
      }
      &_link {
        text-decoration: none;
        color: rgb(116, 116, 116);
        font-style: italic;
      }
    }
  }
}
