<footer class="bottombar">
    <ng-container *ngIf="mobile; else elseTemplate">
        <mat-toolbar class="nav">
        <a mat-icon-button class="nav_link" routerLink="accueil" aria-label="icône d'accueil">
            <mat-icon>home</mat-icon>
            <span class="nav_span mat-ripple mat-button-ripple mat-button-ripple-round">Accueil</span> 
        </a>
        <a mat-icon-button class="nav_link" routerLink="m.users" aria-label="icône groupe">
            <mat-icon>group</mat-icon>
            <span class="nav_span mat-ripple mat-button-ripple mat-button-ripple-round">Membre</span> 
        </a>

        <a mat-icon-button class="nav_link" routerLink="m.profile" aria-label="icône de profil">
             <mat-icon>face</mat-icon>
            <span class="nav_span mat-ripple mat-button-ripple mat-button-ripple-round">Vous</span> 
        </a>
        </mat-toolbar>
    </ng-container>
    <ng-template #elseTemplate>
    </ng-template>

</footer>