.bottombar {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}
.nav {
  display: flex;
  justify-content: space-around;
  padding-bottom: 15px;

  .nav_link {
    color: inherit;
    text-decoration: none;
    text-align: center;
    position: relative;
    .nav_span {
      position: absolute;
      width: 60px;
      bottom: 0;
      transform: translate(-20%, 50%);
      font-size: 1em;
    }
  }
}
