/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 95%;
}
.topbar {
  background-color: rgb(156, 39, 176);
  text-align: center;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: rgb(48, 48, 48);
  color: white;
}
