<form action="">
  <div>
    <label for="email">Email :</label>
    <input type="email" name="email" id="email" placeholder="Email...">
  </div>
  <div>
    <label for="password">Mot de passe :</label>
    <input type="password" name="password" id="password" placeholder="Mot de passe...">
  </div>
  <div>
    <label for="name">Nom :</label>
    <input type="name" name="name" id="name" placeholder="Nom de famille...">
    <label for="firstname">Prénom :</label>
    <input type="firstname" name="firstname" id="firstname" placeholder="Prénom...">
  </div>
  <input type="submit" value="Enregistrer">
</form>
