.profilForm_card {
  position: relative;
  margin: 40px auto;
  min-width: 150px;
  max-width: 300px;
  width: 100%;
  background-color: rgba(204, 204, 204, 0.041);
  box-shadow: 1px 8px 10px 7px rgba(88, 88, 88, 0.438);
  border-radius: 20px;
}
